@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --background: #F4F3F8;
  --foreground: #2A1F4C;
  --card: #FFFFFF;
  --card-foreground: #2A1F4C;
  --popover: #FFFFFF;
  --popover-foreground: #2A1F4C;
  --primary: #372865;
  --primary-foreground: #FFFFFF;
  --secondary: #EBE8F9;
  --secondary-foreground: #372865;
  --muted: #F2F1F6;
  --muted-foreground: #817A9B;
  --accent: #F1D4FC;
  --accent-foreground: #372865;
  --destructive: #F85149;
  --border: #E8E6ED;
  --input: #E8E6ED;
  --ring: #372865;
  --chart-1: #786BEE;
  --chart-2: #E2A9F3;
  --chart-3: #B3A7FE;
  --chart-4: #94C3F6;
  --chart-5: #EDD4F9;
  --radius: 1.25rem;
  --sidebar: #F4F3F8;
  --sidebar-foreground: #2A1F4C;
  --sidebar-primary: #372865;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #EBE8F9;
  --sidebar-accent-foreground: #372865;
  --sidebar-border: transparent;
  --sidebar-ring: #372865;
}

.dark {
  --background: #22222D;
  --foreground: #F4F3F8;
  --card: #2B2A38;
  --card-foreground: #F4F3F8;
  --popover: #2B2A38;
  --popover-foreground: #F4F3F8;
  --primary: #BEA9FB;
  --primary-foreground: #22222D;
  --secondary: #3B394A;
  --secondary-foreground: #F4F3F8;
  --muted: #3B394A;
  --muted-foreground: #9A95B1;
  --accent: #5F4275;
  --accent-foreground: #F4F3F8;
  --destructive: #F85149;
  --border: #3E3C4E;
  --input: #3E3C4E;
  --ring: #BEA9FB;
  --chart-1: #786BEE;
  --chart-2: #E2A9F3;
  --chart-3: #B3A7FE;
  --chart-4: #94C3F6;
  --chart-5: #EDD4F9;
  --sidebar: #22222D;
  --sidebar-foreground: #F4F3F8;
  --sidebar-primary: #BEA9FB;
  --sidebar-primary-foreground: #22222D;
  --sidebar-accent: #3B394A;
  --sidebar-accent-foreground: #F4F3F8;
  --sidebar-border: transparent;
  --sidebar-ring: #BEA9FB;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}